:root {
  --neutral: rgba(56, 146, 166, 1);
  --primary: rgba(232, 232, 209, 0.9);
  --secondary: rgba(23, 182, 125, 1);
  --neutral-darker: rgba(6, 84, 115, 1);
  --black: rgba(7, 28, 26, 1);
}

body {
  margin: 0 auto;
}

.header {
  position: absolute;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  z-index: 1;
}

.title__wrapper {
  flex: 1 1 auto;
}

.header__title {
  background-color: var(--primary);
  color: var(--black);
  font-family: "Pacifico", cursive, sans-serif;
  font-size: 1.9em;
  line-height: 1.6em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5em;
  width: 100%;
}

.header__helper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.header--common {
  display: inline;
}

.header--em {
  /* background-color: var(--secondary); */
  color: var(--secondary);
  margin-left: 0.2em;
}

.header__slogan {
  background-color: var(--primary);
  border-top: 1px solid var(--black);
  font-family: "Oswald", sans-serif;
  font-variant: small-caps;
  font-weight: 600;
  padding: 0.5em 0.4em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;
}

.list__item {
  flex: 0 0 auto;
  padding-top: 0.2em;
  width: 40%;
  text-align: center;
  padding-bottom: 0.4em;
  /* position: relative; 
  bottom: 0.2em;*/
}

.list__item a:visited,
.list__item a:active {
  color: var(--neutral-darker);
  text-decoration: none;
}

.list__item a:hover {
  color: var(--neutral);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.list__item:nth-of-type(1) {
  border-right: 1px solid var(--black);
}

.wrapper {
  height: 100vh;
  z-index: -1;
}

img {
  object-fit: cover;
  object-position: top center;
  width: 100vw;
  height: 100vh;
}

.nav__wrapper {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  height: 30vh;
  margin: 0 auto;
}

.nav-bar {
  border-top: 1px solid var(--black);
  display: flex;
  font-size: 1.4em;
  list-style: none;
  width: 100%;
}
.nav-list {
  background-color: var(--primary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 auto;
  font-family: "Oswald", sans-serif;
  font-variant: small-caps;
  width: 100%;
}

.nav__panel {
  position: relative;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: var(--primary);
  bottom: 1em;
  border-radius: 5px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-variant: small-caps;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  height: 2em;
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  width: 10em;
  z-index: 10;
}

.btn__random {
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
}
.btn__add {
  right: 51%;
}

.btn__goto {
  left: 51%;
}

.btn__nav {
  bottom: 4em;
  width: 3em;
}

.nav__arrow {
  background-color: var(--neutral-darker);
  cursor: pointer;
  padding: 0.3em;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  fill: var(--primary);
  width: 3.5em;
  height: 3.5em;
}

.--left {
  left: 1.8em;
}

.--right {
  right: 1.8em;
}

.media-object {
  height: max-content;
  display: flex;
  align-items: center;
}

.media__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--primary);
  height: fit-content;
  padding: 1em 0;
}

.media__description {
  flex: 1 1 auto;
  margin: 0.5em;
  /* padding: 0.5em; */
  padding: 1em;
  font-family: "Oswald", sans-serif;
  line-height: 1.4em;
}

.media__editable {
  flex: 1 1 auto;
  height: 100%;
  width: 80%;
  padding: 1em;
  margin-right: 2em;
}

main.media-about-us {
  display: flex;
  justify-content: center;
}

.media-personal-img {
  width: 11em;
  height: 11em;
  border-radius: 50%;
}

.media-personal-object {
  flex: 1;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  border: 0.3em solid var(--neutral-darker);
  height: initial;
  padding: 1em;
}

p.media-text {
  font-weight: bold;
  padding: 1em;
}

.media-about-list {
  line-height: 1.5em;
  width: 80%;
}

.header__notes {
  top: auto;
  left: auto;
  position: initial;
  width: 100%;
  transform: initial;
}

.header__title--wide {
  padding: 0;
  line-height: 1.9em;
  text-align: center;
  width: 100%;
}

.main {
  height: fit-content;
}

.media__title {
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 1em;
}

.media__link {
  display: block;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 35em) {
  .header {
    position: absolute;
    transform: initial;
    width: fit-content;
    top: 1.8em;
    left: 1.8em;
  }
  .header__title {
    font-size: 3.3em;
    line-height: 1.3em;
  }
  .header__notes {
    top: auto;
    left: auto;
    position: initial;
    width: 100%;
  }
  .header__title--wide {
    line-height: 1.8em;
  }
  .header--common {
    display: block;
  }
  .nav-bar {
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
  }

  .nav__wrapper {
    width: 370px;
    height: 30vh;
  }

  .media__container {
    display: flex;
    flex-direction: row;
  }
  .media__description {
    width: 35%;
  }
  .media__editable {
    margin-top: 2em;
    width: 55%;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
